<h1>Thank you and welcome to Giftdr!</h1>

<p>
  <%= @greeting %>
</p>
<p>
  We are pleased to welcome you as a new member of Giftdr.
  We are sure that you will find Giftdr a convenient way to help you to never forget another important dates.
  In addition, you will receive gifts suggestion on all of your reminders.
  Please contact our customer service department at 818-322-5631 if you have any questions. If you are more
  daring please call 402-430-2101.
</p>
<p>
  Thanks for choosing Giftdr for all of your important dates but you don't care to remember needs.
  We look forward to serving you.
</p>

<p>
 <%= link_to "Update your information", user_path(user.id) %>
</p>