<h1>Persons#index</h1>
<p>Find me in app/views/persons/index.html.erb</p>
<% @people.each do |person| %>
<%= person.name %>
<% person.interests.each do |interest| %>
  <%= interest.name %>
<% end %>
<% end %>
