<h1>Person Interest</h1>

    <% @persons.each do |person| %>
        <%= person.name %>
    <% end %>

    <% person.interests.each do |interest| %>
        <%= interest.name %>
    <% end %>

<!--
<% reminder.person.interests.each do |interest| %>
    interests: <%= interest.name %>
    <% end %> -->