<header>
  <div class="header-content">
      <div class="header-content-inner">
          <h1>Never forget another important event!</h1>
           <hr class="primary">
          <p>Set Reminder and find useful gift suggestion!</p>
          <a href="#services" class="btn btn-primary page-scroll">Find Out More</a>
      </div>
  </div>
</header>

<section id="services">
<div class="container">
  <div class="row">
      <div class="col-lg-12 text-center">
          <h2 class="section-heading">As easy as 1,2,3!</h2>
      </div>
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
              <i class="fa fa-4x fa-bell-o wow bounceIn text-primary"></i>
              <h3>Set a reminder</h3>
              <p class="text-muted">Set a reminder of important events</p>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
              <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
              <h3>Receive a text or email</h3>
              <p class="text-muted">Reminder come with gifts suggestion!</p>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
              <i class="fa fa-4x fa-cart-plus wow bounceIn text-primary" data-wow-delay=".2s"></i>
              <h3>Purchase a gift</h3>
              <p class="text-muted">Through our affiliates Etsy and Amazon!.</p>
          </div>
      </div>
  </div>
</div>
</section>
